################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BokAffar/BokAffar/bin
/BokAffar/BokAffar/obj
/BokAffar/BokAffar/obj/Debug
/BokAffar/BokAffar.Tests/bin
/BokAffar/BokAffar.Tests/obj
/BokAffar/BokAffar.Tests/obj/Debug
/BokAffar/.vs/BokAffar/v14/.suo
/BokAffar/Backend/InformationProcessing/obj/Debug
